.box1{
    width: 420px;
    height: 475px;
    border: 1px solid black;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding-left: 9px;
}
.top{
    display: flex;
}
.topbutton{
    width: 200px;
    height: 57px;
    margin-top: 5px;
}
.logo{
    width: 130px;
    height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inputs{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-width: 0.1px;
}
.logbtn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}