

.box{
    width: 420px;
    height: 475px;
    border: 1px solid black;
    margin: auto;
    margin-top: 122px;
    border-radius: 15px;
    padding-left: 9px;
    background-color: white;
    border: none;
    box-shadow: 0 1px 5px grey
}
.top{
    display: flex;
}
.topbutton1{
    width: 200px;
    height: 44px;
    margin-top: 5px;
    background-color: #192048;
    border: none;
    color: #fafafa;
}
.topbutton2{
    width: 200px;
    height: 44px;
    margin-top: 5px;
    background-color: #3f51b5;
    border: none;
    color:#fafafa;
}
.logo{
    width: 130px;
    height: 135px;
    display: block;
    margin-left: 134px;
    margin-right: auto;
}
.span{
    margin-left: 163px;
    color: green;
}
.inputs{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 15px;
    border-width: 0.1px;
    color:black;
   
}



.logbtn{
    width: 69px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;

}

.logbtn:hover{
    background-color: rgb(30, 133, 11);
}


.textOnInput {
    position: relative;
}

.textOnInput label {
    position: absolute;
    top: -6px;
    left: 10px;
    padding: 2px;
    z-index: 1;
}

.textOnInput label:after {
    content: " ";
    background-color: #fff;
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.textOnInput input[type='email']{
    border-color: rgba(0,0,0,.12) ;
    caret-color: #3f51b5 !important;
    
}
.textOnInput input[type='email']:hover{
    border-color: rgba(0,0,0,.87) ;
}
.textOnInput input[type='email']:focus{
    outline-color: rgb(16, 48, 99) ;
}

.textOnInput input[type='password']{
    border-color: rgba(0,0,0,.12) ;
    caret-color: #3f51b5 !important;
}
.textOnInput input[type='password']:hover{
    border-color: rgba(0,0,0,.87) !important;
}
.textOnInput input[type='password']:focus{
    outline-color: rgb(16, 48, 99) !important;
}

label {
    font-size: 10px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: .5rem;
}
.rememberdiv{
    margin-left: 150px;
}
.remember{
    font-size: 14px !important;
    margin-left: 5px;
}

.forgot{
    font-size: 17px;
    font-weight: 600;
    color: black;
    margin-left: 132px;
    margin-top:10px;
    
}

.link{
    text-decoration: none !important;
    color:black;
}

.rememberdiv input[type='checkbox']{
    accent-color: #ff4081;
}

.red::-webkit-input-placeholder {
    color: red;
 }