
.container{
    padding-left: 13px !important;
    padding-right: 10px !important;
    height: 50px !important;
    box-shadow: 0 1px 5px grey !important;
    
    
    position: fixed !important;
     top: 0 !important; 
     left: 0 !important;
      z-index: 9999 !important;
       width: 100% !important;
}
.links{
    color: #337ab7 !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    margin-left: 10px;   
}
.links:hover{
    color: #364298 !important;
}

.link{
    text-decoration: none !important;
}

.dropItem{
    color: black;
}

.select ::after{
    content: none !important;
}
